table {
    border-collapse: collapse;
    width: 150px;
    margin-right: 40px;
    margin-left: 40px;
}

h1 {
    text-align: center;
}

tr {
    width: 100%;
}

.saveButton {
    width: 50px;
    margin-right: 90px;
    margin-left: 90px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}

.loading {
    width: 150px;
    height: 150px;
    margin-right: 40px;
    margin-left: 40px;
}

.categoryLabel {
    height: 35px;
    width: 25px;
    border: 1px solid black;
    text-align: center;
}

.pickYourRikishi {
    height: 35px;
    width: 135px;
    text-align: center;
    border: 1px solid black;
}

.avatarContainer {
    height: 35px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.avatar {
    height: 35px;
    width: 35px;
}

.rikishiLabel {
    height: 35px;
    width: 100px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.hoverable {
    cursor: pointer;
}

.hoverable:hover {
    background-color: rgba(0, 0, 255, 0.165);
}

table {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.selected {
    background-color: blue;
    cursor: pointer;
}