table {
    border-collapse: collapse;
    width: 150px;
    margin-right: 40px;
    margin-left: 40px;
}

h1 {
    text-align: center;
}

tr {
    width: 100%;
}


.horizontal {
    display: inline-block;
}

.buttonSpacer{
    display: inline-block;
    width: 10px;
}

.buttons {
    width: 110px;
    margin-top: 5px;
    margin-left: 60px;
    margin-right: 60px;
}

.saveButton {
    display: inline-block;
    width: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}

.loading {
    width: 150px;
    height: 150px;
    margin-right: 40px;
    margin-left: 40px;
}

.selected > .categoryLabel {
    border-right: 1px solid white;
}

.categoryLabel {
    height: 35px;
    width: 25px;
    border: 1px solid black;
    text-align: center;
}

.pickYourRikishi {
    height: 35px;
    width: 135px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
}

.avatarContainer {
    height: 35px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.selected > .avatarContainer {
    border-left: 1px solid white;
}

.selected > .avatarContainer > .avatar {

    filter:invert(1);
}

.avatar {
    height: 35px;
    width: 35px;
}

.rikishiLabel {
    height: 35px;
    width: 100px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.hoverable {
    cursor: pointer;
}

.hoverable:hover {
    background-color: rgba(0, 0, 0, 0.165);
    color: white;
}

table {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.selected {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    border-color: white;
}