<ng-container *ngIf="this.authenticationHasBeenDetermined else waiting">
    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <div *ngIf="auth.user$ | async as user">
            <img src="{{user.picture}}">
        </div>
        <button (click)="auth.logout({ returnTo: document.location.origin })">
            Log out - <div *ngIf="auth.user$ | async as user">{{user.name}}</div>
        </button>
    </ng-container>
    
    <ng-template #loggedOut>
        <button (click)="auth.loginWithRedirect()">Log in</button>
    </ng-template>
</ng-container>
<ng-template #waiting><div>waiting...</div></ng-template>